div.main-menu {
  nav.navbar {
    background-color: rgba(255, 255, 255, 0.98);
  }

  a {
    font-weight: 300;
  }
}

div.main-content {
  margin-top: 60px;

  h1.content-activity {
    font-weight: 200;
  }

  div.content-activity {
    h4 {
      font-weight: 400;
    }

    div.card-block {
      padding: 0.8rem;
    }

    div.card {
      p.card-text {
        line-height: 130%;
      }

      a.btn {
        margin-left: 4px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
